@import url("https://fonts.googleapis.com/css2?family=Azeret+Mono:wght@100;200;300;400&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Allison&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Allison&family=Playfair+Display:wght@400;500&display=swap");
* {
  margin: 0;
  padding: 0;
}

body {
  font-family: "Playfair Display", serif !important;
}

.input-group_mb-3 {
  height: 25px;
  width: 20%;
  margin-left: 5%;
  margin-bottom: 40px;
  display: flex;
  justify-content: space-between;
}

h1 {
  font-family: "Playfair Display", serif;
  text-align: center;
  margin: 40px 0 !important;
}

.form {
  padding: 2% 5%;
  width: 40vw;
  margin-left: 66%;
  margin-right: 15%;
  border-radius: 4px;
  box-shadow: black 1px 3px;
  color: grey;
}
.btn {
  padding: 2% 5% 2% 5% !important;
  border: 1px solid black !important;
  border-radius: 4px;
  display: inline;
  color: grey;
  box-shadow: black 1px 3px;
}

/* input[type=text] {
    width: 35vw; */

.quote-content {
  text-align: center;
  font-size: 1.5em;
  padding-top: 45px;
}

.quote-author {
  font-family: "Allison", cursive;
  font-size: 2em;
}

#erik {
  padding: 2% 5%;
  margin: 9% 5% 2% 27%;
  color: grey;
  background-color: white;
  text-align: center;
  border-radius: 51px;
  box-shadow: black 1px 3px;
  font-size: 1em;
}

.carousel-item {
  background-color: beige;
  /* border-radius: 10px; */
  box-shadow: black 2px 2px;
  padding: 5%;
  /* margin: 0 5%; */
  height: 45vh;
  width: 20vw;
  font-size: 1.3em;
  text-align: center;
  /* padding-top: 45px; */
}

/* .carousel-inner .carousel-item {
    transition: -webkit-transform 15s ease;
    transition: transform 15s ease;
    transition: transform 15s ease, -webkit-transform .1s ease;
  } */
